h1{
font-size: 100px ;
margin-left: 10%;
color:purple ;
}

h2{
margin-left: 10%;   
margin-top: 2%;
color: plum ;
}

h3{
margin-left: 10%;
margin-top: 1%;
color: pink ;
}

h4{
margin-left: 10%;
margin-right: 10%;
text-align: justify;
}

h5{
margin-right: 10%;
text-align: left;
}

img{
padding-left: 5%;
}

a{
margin-left: 10%;
margin-top: 3% ;
}